@import url('./fluent-light.css');
/*@import url('./html-light.css');*/


@font-face {

    font-family: "thin";
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {

    font-family: "bold";
    src: url('fonts/Roboto-Bold.ttf');
}

:root {
    --first-bg-color: #262f37;
    --second-bg-color: #1c2229;
    --third-bg-color: rgb(120, 120, 120);
    --first-tx-color: #fff;
    --second-tx-color: #bbb;
    --high-bg-color-1: #a28a67;
    --high-bg-color-2: #528e76;
    --high-bg-color-3: #8f5959;
    --high-bg-color-4: #4E6B85;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background-color: #b3b6b8;
}

.content {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: block;
    margin: 40px auto;
    max-width: 800px;
    padding: 50px 100px;
}