@import url('./fluent-light.css');
/*@import url('./html-light.css');*/


@font-face {

    font-family: "thin";
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {

    font-family: "bold";
    src: url('fonts/Roboto-Bold.ttf');
}

:root {
    --first-bg-color: #fefeff;
    --second-bg-color: #f5f5f4;
    --third-bg-color: rgb(227, 225, 225);
    --first-tx-color: #000;
    --second-tx-color: rgb(136, 136, 136);
    --third-tx-color: #fefeff;
    --high-bg-color-1: #a28a67;
    --high-bg-color-2: #528e76;
    --high-bg-color-3: #8f5959;
    --high-bg-color-4: #4E6B85;
    --high-bg-color-5: #579ad6;

    --file-container-width: 180px;
    --border-radius: 5px;
    --button-padding: 5px;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 50px;
    background-color: var(--second-bg-color);
}

.content {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: block;
    margin: 40px auto;
    max-width: 800px;
    padding: 50px;
}

