<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iEfrei.fr | {{ course.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="content">
            {{ course_html_content | safe }}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
