<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="content">
            {{ course_html_content | safe }}
        </div>
    </div>

    <footer>
        <p>Version 2.0</br>
            <a style="text-decoration:underline;" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Creative
                Commons Attribution 4.0 International</a></br>
            Pas d’Utilisation Commerciale </br>
            © {{ current_year }} Thomas Peugnet</p>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
