<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Cours</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<div class="container">
    <div class="main">
        <div id="main_left" class="main_left full-width">
            <div class="top_container sticky-dropdown">
                <div class="dropdown">
                    <button class="dropbtn">Semestre {{ current_semester }}
                        <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
                    <div class="dropdown-content">
                        <a href="#" onclick="load_semester(1)">Semestre 1</a>
                        <a href="#" onclick="load_semester(6)">Semestre 6</a>
                        <a href="#" onclick="load_semester(7)">Semestre 7</a>
                        <a href="#" onclick="load_semester(8)">Semestre 8</a>
                    </div>
                </div>

                <div class="title_container">
                    <h1>iEfrei.fr</h1>
                    <h2>Certains cours méritent d'être pris en note</h2>
                </div>
            </div>

            <div class="content">
                {% for course in courses %}
                    <div class="file_container">
                        <img src="{{ url_for('static', filename='images/file.svg') }}" alt="Icone du cours">
                        <h2>{{ course.title }}</h2>
                        <h3>{{ course.author }}</h3>
                        <h3>{{ course.date.strftime('%d/%m/%Y à %Hh%M') }}</h3>
                        <div class="button_container">
                            <button onclick="copy_link('{{ course.id }}', '{{ course.title }}')">
                                <ion-icon name="share-social-outline"></ion-icon>
                            </button>

                            <button onclick="window.location.href='{{ url_for('download_pdf', course_id=course.id) }}'">
                                <ion-icon name="download-outline"></ion-icon>
                            </button>
                            <button onclick="window.location.href='{{ url_for('course', course_id=course.id) }}'">
                                <ion-icon name="scan-outline"></ion-icon>
                            </button>
                        </div>
                        <button id="view" onclick="loadCourse('{{ url_for('course', course_id=course.id) }}')">
                            Visualiser
                        </button>
                    </div>
                {% endfor %}
            </div>

            <footer>
                <p>Version 2.0</br><a style="text-decoration:underline;"
                                      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Creative Commons
                    Attribution 4.0 International</a></br>Pas d’Utilisation Commerciale </br>© {{ current_year }} Thomas
                    Peugnet</p>
            </footer>
        </div>

        <div id="main_right" class="main_right hidden">
            <iframe id="viewer" src="{{ url_for('static', filename='html/default.html') }}" width="100%"
                    height="100%"></iframe>

        </div>
    </div>
</div>

<script>
    function loadCourse(courseUrl)
    {
        // Modifier les classes pour afficher l'iframe
        document.getElementById('main_left').classList.remove('full-width');
        document.getElementById('main_left').classList.add('half-width');

        document.getElementById('main_right').classList.remove('hidden');
        document.getElementById('main_right').classList.add('visible');

        // Charger le cours dans l'iframe
        document.getElementById('viewer').src = courseUrl;
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
